In [1]:
#Question 1

import pandas as p

In [2]:
url="https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df=p.read_csv(url)
df.head

<bound method NDFrame.head of      survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]>

In [3]:
print(df.isna().sum())
print(df.isna().sum(axis=1))

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
0      1
1      0
2      1
3      0
4      1
      ..
886    1
887    0
888    2
889    0
890    1
Length: 891, dtype: int64

In [4]:
#For Q1:https://chatgpt.com/share/70c1eed7-79ff-44b7-9aef-77f69212df3f

In [5]:
#Question 2

print(df.shape)
#Variables are properties that can be measured, like color,age,taste,size,etc.
#Observations are ENTITIES from which multiple variables are collected so we could understand them better.
#In a pandas dataframe, observsations're often ROWS while variables are columns

(891, 15)

In [6]:
#Question 3

# Summary for numerical columns
numerical_summary = df[['age', 'fare']].describe()

# Summary for categorical columns (using 'sex' and 'class' as examples)
categorical_summary_sex = df['sex'].value_counts()
categorical_summary_class = df['class'].value_counts()

# Display the summaries
print("Numerical Summary:")
print(numerical_summary)

print("\nCategorical Summary (Sex):")
print(categorical_summary_sex)

print("\nCategorical Summary (Class):")
print(categorical_summary_class)

Numerical Summary:
              age        fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

Categorical Summary (Sex):
sex
male      577
female    314
Name: count, dtype: int64

Categorical Summary (Class):
class
Third     491
First     216
Second    184
Name: count, dtype: int64

In [7]:
#For Q2 Q3: https://chatgpt.com/share/ca72ba99-562f-41d2-a4fd-cef07d55105f

In [8]:
#Question 4:
print(df.describe())
print(df.describe().shape)
print (df.shape)

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
(8, 6)
(891, 15)

In [9]:
#The first Discrepancy: df.shape shows 15 columns while df.describe() shows 6.
#cuz only 6 out of 15 columns contains numerical data and are therefore processed by the .describe() method.
#2nd discrepancy: column "age" has "count" value lower than the total number of rows in the dataset (df.shape).
#this is because it has missing numeric values and arwe therefore not all counted.

In [10]:
#Question 5
#An attribute is essentially an associated data that comes with the data set itself. 
    #'df.attribute' simply displays it and doesnt do anything. 
#A method, however, is essentially a function that performs some kind of action on the dataframe, such as a calculation.
    #Therefore, it has a specific ouput.

In [11]:
#For Q4 Q5: https://chatgpt.com/share/66510391-7b81-4da2-957c-2f819a364c25
print("Here's a summary of our conversations: In our conversations, we discussed the distinction between attributes and methods in programming. Attributes are properties associated with an object, such as df.shape, which directly shows the stored data without performing any actions. Methods, on the other hand, are functions that perform operations or calculations on an object and produce outputs, like df.describe(), which provides a statistical summary. We also explored discrepancies between df.shape and df.describe(), noting that df.shape shows the total dimensions of a DataFrame, while df.describe() only includes numeric columns and their summary statistics. Additionally, we touched on the difference between programming functions, which perform tasks and return results, and mathematical functions, which define relationships between inputs and outputs.")

#My free trial of GPT-4o (the paid model) stopped when I was in the middle of Question4 so I had to start a different chat.
#Therefore, My summary of chat was unable include Question 2 and 3. However you can still read the chat via link
#Please don't mark me down for this thx

Here's a summary of our conversations: In our conversations, we discussed the distinction between attributes and methods in programming. Attributes are properties associated with an object, such as df.shape, which directly shows the stored data without performing any actions. Methods, on the other hand, are functions that perform operations or calculations on an object and produce outputs, like df.describe(), which provides a statistical summary. We also explored discrepancies between df.shape and df.describe(), noting that df.shape shows the total dimensions of a DataFrame, while df.describe() only includes numeric columns and their summary statistics. Additionally, we touched on the difference between programming functions, which perform tasks and return results, and mathematical functions, which define relationships between inputs and outputs.

In [12]:
#Question 6

#count: the number of non-missing values in this column.
#mean: the sum of all non-missing values divided by their 'count'.
#std: the square root of variance. It measures the spread of non-missing data around the mean in the column. 
#min: the smallest non-missing value in the column
#25%: This is the value that separates the lowest 25% of the non-missing data in the column from the rest
#50%: This is the value that separates the lower 50% of the non-missing data in the column from the rest. Also called the median.
#75%: The value that separates the lowest 75% of the non-missing data from the highest 25%
#max: The largest non-missing value present in the column

In [13]:
#For Q6: https://chatgpt.com/share/a027878a-8437-4e7b-8a72-01aeb50abb74
print("ChatBot Summary: In this conversation, we discussed the summary statistics provided by df.describe(), including how they handle missing data. We then reviewed the standard deviation formula and provided a concise, one-sentence explanation. Additionally, we clarified that 'average squared deviations from the mean' is equivalent to the variance. Lastly, we explored a use case where df.dropna() is preferred over del df['col'], highlighting how df.dropna() allows for selective row removal based on missing values without losing entire columns")

ChatBot Summary: In this conversation, we discussed the summary statistics provided by df.describe(), including how they handle missing data. We then reviewed the standard deviation formula and provided a concise, one-sentence explanation. Additionally, we clarified that 'average squared deviations from the mean' is equivalent to the variance. Lastly, we explored a use case where df.dropna() is preferred over del df['col'], highlighting how df.dropna() allows for selective row removal based on missing values without losing entire columns

In [14]:
#Question 7

#1. I might want to remove ALL columns that contains any missing data, rather than just one. in this case:
df.dropna(axis=1,inplace=True)
print(df)
print("now there 're only 11 columns left.")

     survived  pclass     sex  sibsp  parch     fare   class    who  \
0           0       3    male      1      0   7.2500   Third    man
1           1       1  female      1      0  71.2833   First  woman
2           1       3  female      0      0   7.9250   Third  woman
3           1       1  female      1      0  53.1000   First  woman
4           0       3    male      0      0   8.0500   Third    man
..        ...     ...     ...    ...    ...      ...     ...    ...
886         0       2    male      0      0  13.0000  Second    man
887         1       1  female      0      0  30.0000   First  woman
888         0       3  female      1      2  23.4500   Third  woman
889         1       1    male      0      0  30.0000   First    man
890         0       3    male      0      0   7.7500   Third    man

     adult_male alive  alone
0          True    no  False
1         False   yes  False
2         False   yes   True
3         False   yes  False
4          True    no   True
..          ...   ...    ...
886        True    no   True
887       False   yes   True
888       False    no  False
889        True   yes   True
890        True    no   True

[891 rows x 11 columns]
now there 're only 11 columns left.

In [15]:
#2. I would like to drop 2 columns specifically "pclass" and "adult_male" because:
#column "class" and "pclass" mean literally the same thing. 
#the boolean column "adult_male" is pointless since there's already a "sex" column
#Therefore I go:
df=p.read_csv(url)
del df['pclass']
del df['adult_male']
print (df)

     survived     sex   age  sibsp  parch     fare embarked   class    who  \
0           0    male  22.0      1      0   7.2500        S   Third    man
1           1  female  38.0      1      0  71.2833        C   First  woman
2           1  female  26.0      0      0   7.9250        S   Third  woman
3           1  female  35.0      1      0  53.1000        S   First  woman
4           0    male  35.0      0      0   8.0500        S   Third    man
..        ...     ...   ...    ...    ...      ...      ...     ...    ...
886         0    male  27.0      0      0  13.0000        S  Second    man
887         1  female  19.0      0      0  30.0000        S   First  woman
888         0  female   NaN      1      2  23.4500        S   Third  woman
889         1    male  26.0      0      0  30.0000        C   First    man
890         0    male  32.0      0      0   7.7500        Q   Third    man

    deck  embark_town alive  alone
0    NaN  Southampton    no  False
1      C    Cherbourg   yes  False
2    NaN  Southampton   yes   True
3      C  Southampton   yes  False
4    NaN  Southampton    no   True
..   ...          ...   ...    ...
886  NaN  Southampton    no   True
887    B  Southampton   yes   True
888  NaN  Southampton    no  False
889    C    Cherbourg   yes   True
890  NaN   Queenstown    no   True

[891 rows x 13 columns]

In [16]:
#3.
#Some columns may contain wayyyy too much missing data to be useful to our analysis.
#So by identifying these columns and applying del df['col'] on them
#We can minimize the number of rows dropped when applying df.dropna().
#This helps avoid unintentionally removing more data than necessary.

print(df.isna().sum())

print("For this dataset, it's 'age' and 'deck'")
del df['age']
del df['deck']
df.dropna(inplace=True)
print(df)
#there.

survived         0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
For this dataset, it's 'age' and 'deck'
     survived     sex  sibsp  parch     fare embarked   class    who  \
0           0    male      1      0   7.2500        S   Third    man
1           1  female      1      0  71.2833        C   First  woman
2           1  female      0      0   7.9250        S   Third  woman
3           1  female      1      0  53.1000        S   First  woman
4           0    male      0      0   8.0500        S   Third    man
..        ...     ...    ...    ...      ...      ...     ...    ...
886         0    male      0      0  13.0000        S  Second    man
887         1  female      0      0  30.0000        S   First  woman
888         0  female      1      2  23.4500        S   Third  woman
889         1    male      0      0  30.0000        C   First    man
890         0    male      0      0   7.7500        Q   Third    man

     embark_town alive  alone
0    Southampton    no  False
1      Cherbourg   yes  False
2    Southampton   yes   True
3    Southampton   yes  False
4    Southampton    no   True
..           ...   ...    ...
886  Southampton    no   True
887  Southampton   yes   True
888  Southampton    no  False
889    Cherbourg   yes   True
890   Queenstown    no   True

[889 rows x 11 columns]

In [17]:
#4. the question asked to most efficiently use the available non-missing data. 
#therefore I belive I should retain as much non-missing data as possible when removing values.
#Let's first take a look at the missing data:
df=p.read_csv(url)
print(df.shape)
print(df.isna().sum())

(891, 15)
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [18]:
print("For 'age', I lose",177*15-177,"non-missing values when removing rows missing this variable,and lose",891-177,"non-missing values when removing this column")
print("For 'embarked'and'embark_town', I lose",2*15-2,"non-missing values when removing rows missing this variable,and lose",891-2,"non-missing values when removing this column")
print("For 'deck', I lose",688*15-688,"non-missing values when removing rows missing this variable,and lose",891-688,"non-missing values when removing this column")

For 'age', I lose 2478 non-missing values when removing rows missing this variable,and lose 714 non-missing values when removing this column
For 'embarked'and'embark_town', I lose 28 non-missing values when removing rows missing this variable,and lose 889 non-missing values when removing this column
For 'deck', I lose 9632 non-missing values when removing rows missing this variable,and lose 203 non-missing values when removing this column

In [19]:
#so its reasonable to remove the column of "age" and "deck",while removing rows with missing data in 'embarked'and'embark_town'.
print('before')
print(df)
del df['age']
del df['deck']
df.dropna(inplace=True)
print('')
print('after')
print(df)

before
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

after
     survived  pclass     sex  sibsp  parch     fare embarked   class    who  \
0           0       3    male      1      0   7.2500        S   Third    man
1           1       1  female      1      0  71.2833        C   First  woman
2           1       3  female      0      0   7.9250        S   Third  woman
3           1       1  female      1      0  53.1000        S   First  woman
4           0       3    male      0      0   8.0500        S   Third    man
..        ...     ...     ...    ...    ...      ...      ...     ...    ...
886         0       2    male      0      0  13.0000        S  Second    man
887         1       1  female      0      0  30.0000        S   First  woman
888         0       3  female      1      2  23.4500        S   Third  woman
889         1       1    male      0      0  30.0000        C   First    man
890         0       3    male      0      0   7.7500        Q   Third    man

     adult_male  embark_town alive  alone
0          True  Southampton    no  False
1         False    Cherbourg   yes  False
2         False  Southampton   yes   True
3         False  Southampton   yes  False
4          True  Southampton    no   True
..          ...          ...   ...    ...
886        True  Southampton    no   True
887       False  Southampton   yes   True
888       False  Southampton    no  False
889        True    Cherbourg   yes   True
890        True   Queenstown    no   True

[889 rows x 13 columns]

In [20]:
#For Q7: https://chatgpt.com/share/76aa95b5-2351-4eb9-8133-bd3dbdf34b29
print("ChatGPT's summary:In this chat, we discussed handling missing data, focusing on when to use df.dropna() versus del df['col']. I provided examples, explaining that df.dropna() is useful for removing rows with missing values while keeping most columns, whereas del df['col'] is better when a column has many missing values and is not relevant to the analysis. We also covered the importance of deleting irrelevant columns before applying df.dropna() to avoid excessive row loss. You encountered a syntax error with del df('pclass'), and I clarified that the correct syntax is del df['pclass']. Additionally, I rephrased your sentence about removing irrelevant columns and corrected a grammatical issue in another sentence, revising it for clarity and correctness.")

ChatGPT's summary:In this chat, we discussed handling missing data, focusing on when to use df.dropna() versus del df['col']. I provided examples, explaining that df.dropna() is useful for removing rows with missing values while keeping most columns, whereas del df['col'] is better when a column has many missing values and is not relevant to the analysis. We also covered the importance of deleting irrelevant columns before applying df.dropna() to avoid excessive row loss. You encountered a syntax error with del df('pclass'), and I clarified that the correct syntax is del df['pclass']. Additionally, I rephrased your sentence about removing irrelevant columns and corrected a grammatical issue in another sentence, revising it for clarity and correctness.

In [21]:
#Question 8
df=p.read_csv(url)

In [22]:
#1.
df.groupby("embark_town")["age"].describe()
#.groupby('col1') combines raw data into groups based on common values for some variable. 
#['col2']than selects the column 'col2' from the combined DataFrame.
#finnally, Computes summary statistics (count, mean, std, min, 25%, 50%, 75%, max) for col2 within each group.
#For this example, .groupby("embark_town") groups the survivors by the town from which they embarked.
#["age"] selects their age for later processing. 
#.decribe() provides an statistical analysis of the age demographics of the survivors embarked from each town.

             count       mean        std   min    25%   50%   75%   max
embark_town
Cherbourg    130.0  30.814769  15.434860  0.42  21.25  29.0  40.0  71.0
Queenstown    28.0  28.089286  16.915396  2.00  17.50  27.0  34.5  70.5
Southampton  554.0  29.445397  14.143192  0.67  21.00  28.0  38.0  80.0

In [23]:
#2.
print(df.describe())
print('')
print(df.groupby("embark_town")["age"].describe())
print('')
print("df.describe() shows the count of non-missing values for each column, providing a quick overview of data completeness and helping identify columns with significant missing data.")
print('')
print("df.groupby('embark_town')['age'].describe() shows the count of non-missing age values within each group defined by 'embark_town'.")
print('')
print('The primary function of count in conjunction with groupby is to summarize the distribution of non-missing values across groups, rather than just assessing overall data completenes')

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

             count       mean        std   min    25%   50%   75%   max
embark_town
Cherbourg    130.0  30.814769  15.434860  0.42  21.25  29.0  40.0  71.0
Queenstown    28.0  28.089286  16.915396  2.00  17.50  27.0  34.5  70.5
Southampton  554.0  29.445397  14.143192  0.67  21.00  28.0  38.0  80.0

df.describe() shows the count of non-missing values for each column, providing a quick overview of data completeness and helping identify columns with significant missing data.

df.groupby('embark_town')['age'].describe() shows the count of non-missing age values within each group defined by 'embark_town'.

The primary function of count in conjunction with groupby is to summarize the distribution of non-missing values across groups, rather than just assessing overall data completenes

In [24]:
#3.

A.
ChatGPT's response:
"The error NameError: name 'p' is not defined occurs because you haven't imported the pandas library with the alias p.
Make sure you include the following line at the beginning of your script:
import pandas as p
This imports pandas using the alias p, as per your preference. Once you add this, the error should be resolved."
First title i see on google:
"You will encounter this error because the import cell is not being executed. Make sure to toggle it to code and execute that block again."
ChatGPT's trouble shooting was more accurate, as well as direct and beginner-friendly.

B.
ChatGPT:
"The error HTTPError: HTTP Error 404: Not Found means that the URL you're trying to access does not exist or is incorrect. In your case, if you're working with a dataset, it's possible that the URL is incorrect or the file has been moved or deleted from the server."
First solution on Google:
"This code will catch the 404 error which was the reason you got an error and ignore it just in case you go out of the range."
Only GPT addressed the problem accurately. Google was less than helpful. I don't even know what it was talking about

C.
ChatGPT:
The NameError: name 'DF' is not defined error suggests that you're trying to use a variable named DF that hasn't been defined in your script. In Python, variable names are case-sensitive, and the typical convention is to use lowercase letters (e.g., df instead of DF).
If you're following standard practice and using df for the DataFrame, make sure that the variable is correctly named and defined before using it. Here's an example:
Correct Usage:
import pandas as p
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = p.read_csv(url)
print(df.head())

Google:
"df is declared in your function func_nb() it does not exists outside of it, you will need to add a return to the function and call it."
"The df name error usually occurs when you try to use a DataFrame object df before it has been defined. "

GPT wins since I got a more direct walkthrough solving the problem.


D:GPT told me to include a closing parenthesis straightaway while the first answer on Google is talking something about reinstalling the crontab package. GPT wins.
    
E: GPT answered rightway that I need to use "describe" instead of "describle" Google, came up with attribute arror for "Numbers". GPT wins
    
F: Same as before. GPT identified the misppelled column name rightaway while google didn't offer anythig useful at first glance.
    
G: GPT was still as helpful. it immediately identified the issue, replying: The NameError: name 'age' is not defined means you're trying to use age as a variable or column, but it hasn't been defined or referenced correctly. In the context of a DataFrame like the Titanic dataset, age should be referenced as a column.

So far GPT hasn't disappointed me yet. It's on fire

For Question 8: https://chatgpt.com/share/14de9bf7-2fba-4488-aebd-4a82bdc050b4
        
Summary:
    
Data Analysis on Titanic Dataset:

You are working on the Titanic dataset from the URL https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv, and performing initial summary analyses, particularly focusing on handling missing data and group-based summaries.
Understanding .groupby() and .describe():

You explored how df.groupby("col1")["col2"].describe() works by performing this analysis on the Titanic dataset. We discussed how groupby summarizes data within groups and how it handles missing values.
You were trying to understand the difference between global summary statistics (df.describe()) and group-based statistics (df.groupby("col1")["col2"].describe()), focusing on how count is handled differently in each case.
Clarification on Errors:

Several common Python errors were resolved, including:
NameError: name 'p' is not defined due to missing the import statement (import pandas as p).
HTTPError: HTTP Error 404 related to an incorrect or unavailable URL.
NameError: name 'DF' is not defined due to case sensitivity (df vs. DF).
SyntaxError: '(' was never closed was addressed by ensuring correct use of parentheses in code.
Typo in method name (.describle() instead of .describe()).
NameError: name 'age' is not defined, which required correctly referencing the column df['age'].
Interpreting the Homework Question:

You were interpreting a homework question that asked why df.describe() and df.groupby('col1')['col2'].describe() give fundamentally different count values.
We explored how df.describe() gives a global summary of non-missing values across the entire dataset, while df.groupby('col1')['col2'].describe() summarizes data within each group, excluding missing values within each group.
Final Comparisons:

We discussed how df.describe() gives a sense of overall data completeness, while df.groupby().describe() provides insight into data distribution across groups, which has a different function beyond handling missing values.
This covers your key questions and the technical errors you encountered, focusing on the distinctions between global and grouped summary statistics, error resolution, and correct referencing of DataFrame columns.

In [25]:
#Question 9: Yeah